<footer style="background-color: #333; padding-top: 1em; margin-top:1em;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-6 card">
	<p><strong class="text-uppercase" style="font-weight :bold; color:white">{{ site.group_name }}</strong></p>
	<p style="color:white">
	  50 S. Central Campus Drive <br>
 	  Salt Lake City, UT 84112.
	</p>
	<p><a class="btn btn-social"
              href="https://www.google.com/maps/place/Merrill+Engineering+Building/@40.7691082,-111.8478882,17z/">
            <span class="fa fa-solid fa-map"></span>
            Google Maps</a>
        </p>
      </div>

      <div class="col-lg-2 col-lg-4 col-xs-6 card">
	<p><strong class="text-uppercase" style="font-weight :bold; color:white">Links</strong></p>

        <div>
          <div>
            <a class="btn btn-social" href="https://twitter.com/utahnlp">
              <span class="fa fa-twitter"></span> Twitter
            </a>
          
            <a class="btn btn-social" href="https://github.com/utahnlp">
              <span class="fa fa-github"></span> GitHub
            </a>
          </div>
          
          <div>
            <a class="btn btn-social" href="https://drive.google.com/drive/folders/0AAm7zBfKkjZVUk9PVA">
              <span class="fa fa-brands fa-google"></span> Google Drive (internal)
            </a>
          </div>

          <div>
            <a class="btn btn-social"
               href="https://github.com/utahnlp/utahnlp_logo">
              UtahNLP Logos
            </a>
          </div>
          
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-xs-6 card">
        <a href={{ "/" | prepend:site.baseurl}}><img class="img-responsive" src="{{ "/img/utahnlp-transparent.png" | prepend: site.baseurl }}"></a>
        <br />
        <a href="https://www.utah.edu"><img class="img-responsive" src="{{ "/img/u_logo_white.png" | prepend: site.baseurl }}"></a>
      </div>
    </div>
  </div>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://nlp.cs.utah.edu/assets/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://nlp.cs.utah.edu/assets/js/bootstrap.min.js"></script>

<script src="https://nlp.cs.utah.edu/assets/bower_components/ideal-image-slider/ideal-image-slider.js"></script>

{% if page.should_include_js %}

<script type="text/javascript" src="{{ page.js_file | prepend:site.baseurl}}"></script>
{% endif %}


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<script>
  $('nav div#navbar ul > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
</script>

