<footer class="site-footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-4">
        <h5>{{ site.title }}</h5>
        <address>
          50 S. Central Campus Drive<br>
          Salt Lake City, UT 84112
        </address>
        <a href="https://www.google.com/maps/place/Merrill+Engineering+Building/@40.7691082,-111.8478882,17z/" target="_blank" rel="noopener noreferrer">
          View on Google Maps
        </a>
      </div>
      <div class="col-md-4">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://twitter.com/utahnlp">Twitter</a></li>
          <li class="mb-2"><a href="https://github.com/utahnlp">GitHub</a></li>
          <li class="mb-2"><a href="https://huggingface.co/utahnlp">Hugging Face</a></li>
        </ul>
      </div>

      <div class="col-md-4 text-md-end text-start">
        <a href="https://www.utah.edu" target="_blank" rel="noopener noreferrer">
          <img src="{{ '/assets/images/logos/uofu_logo.png' | relative_url }}" alt="University of Utah" class="footer-logo">
        </a>
      </div>

    </div>
  </div>
</footer>