---
layout: default
---

<p>{{page.status}}</p>

<div class="row">
  <div class="col-lg-2 col-md-3 col-xs-4 thumb">
    <img class="img-responsive img-rounded" src="{{ page.photo | prepend : site.baseurl }}" alt="{{page.full_name}}">
  </div>
  <div class="col-lg-10 col-md-9 col-xs-8">
    <h3>Research Interests</h3>
    {{interests}}
    <h3>Publications</h3>
    <ul>
      {% for paper in page.pubs %}
      <li>
        <div id="{{paper.key}}">
          <p>
            {{paper.citation}}
            <a href="{{paper.link}}">[link to paper]</a>
            
            <a data-toggle="collapse"
               href="#bib-{{paper.key}}"
               role="button"
               aria-expanded="false"
               aria-controls="bib-{{paper.key}}">
              [bib entry]
            </a>
            {% if paper.has_award %}
                <br/>
                <span class="text-capitalize">
                   <strong><em><mark>{{paper.award_info}}</mark></em></strong>
                </span>
            {% endif %}
            <div class="collapse" id="bib-{{paper.key}}">
              <pre><code>{{paper.bib}}</code></pre>
            </div>

          </p>
        </div>
      </li>

      {% endfor %}
    </ul>
  </div>
</div>

